# sql_magic API

## Load extension

In [2]:
%load_ext sql_magic

## Use sql_magic with a psycopg2 connection

In [5]:
import pandas.io.sql as psql
import psycopg2
connect_credentials = {'database': 'postgres',
                       'host': 'localhost',
                       'password': '',
                       'user': 'postgres'}

# connect to postgres connection object
conn = psycopg2.connect(**connect_credentials)
conn.autocommit = True
schema_name = 'template'
psql.execute('SET search_path TO {}'.format(schema_name), conn)

OperationalError: could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

In [3]:
%config SQL.conn_name='conn'

In [4]:
%%readsql
SELECT version()

                                             version
0  PostgreSQL 9.6.3 on x86_64-apple-darwin14.5.0,...

### Assign result to pandas dataframe and plot

In [5]:
%%readsql df
SELECT *
FROM titanic

        sex   age      fare
0      male  22.0    7.2500
1    female  38.0   71.2833
2    female  26.0    7.9250
3    female  35.0   53.1000
4      male  35.0    8.0500
5      male   NaN    8.4583
6      male  54.0   51.8625
7      male   2.0   21.0750
8    female  27.0   11.1333
9    female  14.0   30.0708
10   female   4.0   16.7000
11   female  58.0   26.5500
12     male  20.0    8.0500
13     male  39.0   31.2750
14   female  14.0    7.8542
15   female  55.0   16.0000
16     male   2.0   29.1250
17     male   NaN   13.0000
18   female  31.0   18.0000
19   female   NaN    7.2250
20     male  35.0   26.0000
21     male  34.0   13.0000
22   female  15.0    8.0292
23     male  28.0   35.5000
24   female   8.0   21.0750
25   female  38.0   31.3875
26     male   NaN    7.2250
27     male  19.0  263.0000
28   female   NaN    7.8792
29     male   NaN    7.8958
..      ...   ...       ...
861    male  21.0   11.5000
862  female  48.0   25.9292
863  female   NaN   69.5500
864    male  24.0   13.0000
865  female  42.0   13.0000
866  female  27.0   13.8583
867    male  31.0   50.4958
868    male   NaN    9.5000
869    male   4.0   11.1333
870    male  26.0    7.8958
871  female  47.0   52.5542
872    male  33.0    5.0000
873    male  47.0    9.0000
874  female  28.0   24.0000
875  female  15.0    7.2250
876    male  20.0    9.8458
877    male  19.0    7.8958
878    male   NaN    7.8958
879  female  56.0   83.1583
880  female  25.0   26.0000
881    male  33.0    7.8958
882  female  22.0   10.5167
883    male  28.0   10.5000
884    male  25.0    7.0500
885  female  39.0   29.1250
886    male  27.0   13.0000
887  female  19.0   30.0000
888  female   NaN   23.4500
889    male  26.0   30.0000
890    male  32.0    7.7500

[891 rows x 3 columns]

In [1]:
%matplotlib inline
df.groupby('sex')\
  .plot('age', 'fare',kind='scatter')

NameError: name 'df' is not defined

## Connect to Spark engine

In [ ]:
%config SQL.conn_name='spark'

In [ ]:
%%readsql
SELECT 1

## Use sql_magic with a SQLAlchemy Engine

In [7]:
# sqllite conn
from sqlalchemy import create_engine
from sqlite3 import dbapi2 as sqlite
sqllite_engine = create_engine('sqlite+pysqlite:///test.db', module=sqlite)

In [8]:
%config SQL.conn_name='sqllite_engine'

In [9]:
%%readsql
SELECT sqlite_version();

  sqlite_version()
0           3.13.0

## Load dataset for example

In [10]:
# read in sample dataset
import pandas as pd
from sqlalchemy import create_engine
titanic_csv = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv'
titanic_df = pd.read_csv(titanic_csv)[['sex','age','fare']]

# create postgres table
engine = create_engine('postgresql://{user}:{password}@{host}:5432/{database}'.format(**connect_credentials))
titanic_df.to_sql('titanic', engine, schema = 'template', if_exists='replace', index = False)

In [ ]:
# register as spark dataframe/table
titanic_df_spark = spark.createDataFrame(titanic_df, schema=titanic_df.columns.tolist())
sqlContext.registerDataFrameAsTable(titanic_df_spark, 'titanic')

## Miscelleanous results

### Execute sql (not required for spark connections)
Queries with no result are run with %%execsql

In [11]:
%config SQL.conn_name='conn'

In [12]:
%%execsql
DROP TABLE IF EXISTS example_table;
CREATE TEMP TABLE example_table
AS
SELECT 1;

In [13]:
%%readsql
SELECT 1

   ?column?
0         1

### Utilize Python variables in SQL query

In [14]:
age_thresh = 22
sex = 'male'

In [15]:
%%readsql df
SELECT *
FROM titanic
WHERE (age < {age_thresh}) AND (sex = '{sex}')

      sex    age      fare
0    male   2.00   21.0750
1    male  20.00    8.0500
2    male   2.00   29.1250
3    male  19.00  263.0000
4    male  21.00    8.0500
5    male   7.00   39.6875
6    male  21.00    7.8000
7    male  11.00   46.9000
8    male   4.00   27.9000
9    male  19.00    8.1583
10   male  21.00   73.5000
11   male   0.83   29.0000
12   male  16.00   34.3750
13   male  20.00    7.8542
14   male  21.00   77.2875
15   male  21.00    7.9250
16   male  21.00   73.5000
17   male  12.00   11.2417
18   male  20.00    7.0500
19   male  16.00    9.2167
20   male  19.00    6.7500
21   male  18.00   11.5000
22   male  19.00   36.7500
23   male  17.00    8.6625
24   male   1.00   39.6875
25   male   9.00   20.5250
26   male   4.00   29.1250
27   male  21.00    7.9250
28   male  18.00    7.8542
29   male   9.00   31.3875
..    ...    ...       ...
90   male  17.00    7.0542
91   male  20.00    8.6625
92   male  11.00   18.7875
93   male  16.00   20.2500
94   male  19.00   53.1000
95   male   6.00   12.4750
96   male   0.67   14.5000
97   male  18.00   11.5000
98   male  20.00    7.2292
99   male  16.00    7.7750
100  male  18.00    7.7500
101  male   8.00   29.1250
102  male   1.00   20.5750
103  male  16.00   26.0000
104  male  11.00  120.0000
105  male   0.42    8.5167
106  male  10.00   27.9000
107  male   2.00   39.6875
108  male   1.00   37.0042
109  male   0.83   18.7500
110  male  18.00    8.3000
111  male  21.00    8.6625
112  male  20.00    7.9250
113  male  16.00   10.5000
114  male  17.00    8.6625
115  male   4.00   31.2750
116  male  21.00   11.5000
117  male   4.00   11.1333
118  male  20.00    9.8458
119  male  19.00    7.8958

[120 rows x 3 columns]

## Asynchronous calls
Queries can be run in async mode using the --async (or -a) flag. Displaying results from async calls are disabled by default.

In [16]:
%%readsql df -a
SELECT *
FROM titanic

# Configuration

## Flags
Notifications and auto-display can be temporarily disabled with flags:
<pre>
positional arguments:
  table_name

optional arguments:
  -h, --help     show this help message and exit
  -n, --notify   Toggle option for notifying query result
  -a, --async    Run query in seperate thread. Please be cautious when
                 assigning result to a variable
  -d, --display  Toggle option for outputing query result
</pre>

In [ ]:
%%readsql
SELECT 1

In [ ]:
%%readsql -d
SELECT 1

## Defaults
Notifications and displaying results are enabled by default, but can be turned off with %config magic

In [ ]:
# alerts and display are automatically enabled
%config SQL

In [ ]:
%config SQL.output_result = False

In [ ]:
%%readsql
SELECT 1